/* Soluzione qui */

/* Modalità Tablet (sopra i 768px) */
@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }
  main {
    padding: 40px;
  }
  .recipe-origin {
    display: inline;
  }
  .recipe-title h2 {
    font-size: 2.1rem;
  }
  .quick-notes ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .quick-notes li {
    flex: 0 1 calc(100% / 3 - 15px * 2 / 3);
  }
  .btn {
    flex-grow: 1;
  }
  .ads {
    display: block;
  }
  .presentation img {
    float: left;
    margin-right: 20px;
  }
}

/* Modalità Desktop (sopra i 992px) */
@media screen and (min-width: 992px) {
}
